doctype html
html
	
	include meta
//- head
//- 	include meta
body
	include t_header
	.formPage.page
		.bg
		.mainContainer.thinContainer
			h1.pageTitle.wTxt Download DM
			
			form
				.whiteBox.fadeInBox
					h1.mb_b Before Download
						br
						| Let Us Know aAbout You
					include t_form
		include t_rulePop
		
	#footer
		.f1
		.f2

	

	
	script(type='text/javascript', src='js/index.js')
	

