doctype html
html
	include meta
//- head
//- 	include meta
body
	include t_header
	.formPage.page
		.bg
		.mainContainer.thinContainer
			h1.pageTitle.wTxt Meeting Booking Submit Success
			
			
			.whiteBox.mb_b.fadeInBox
				.f30 Happy to Meet You
				h1 Your Reservation Information
				.visitInfo.mt_b
					h2.boldTxt Exhibition to Go
					h1.blueTxt.mb_s TITAS TAIPEI
					h2.boldTxt Date
					h1.blueTxt.mb_s 17 Oct
					h2.boldTxt Time
					h1.blueTxt.mb_s 10:00-11:00
				
			h1.pageTitle.wTxt.fadeInBox Read More	
			.whiteBox.fadeInBox
				a.picBgBox.videoBtn(href='#',style='background-image: url(images/demoBg1.jpg)',data-videoId='NoqFj8AAH9Q',data-ga='bookSuccess_WatchStoryVideo').gaBtn
					.txt.wTxt
						.playIcon
						h2.mt_s Watch the Story Video
				.picBgBox(style='background-image: url(images/demoBg4.jpg)')
					.txt.wTxt
						.f40.handTxt Save the Ocean
						h2 100% Ocean Recycled Yarn
						a.wBtn(href='product.html?page=0&rel=oceanRecycled',data-ga='bookSuccess_RecycledOceanPlastic').gaBtn Recycled Ocean Plastic
				.picBgBox(style='background-image: url(images/demoBg2.jpg)')
					.txt.wTxt
						.f40.handTxt PFC-Free
						h2 Superior Performance & Eco-friendly
						a.wBtn(href='product.html?page=1&rel=topDryZero',data-ga='bookSuccess_TopDryZero').gaBtn TopDry Zero
						a.wBtn(href='product.html?page=1&rel=topClean',data-ga='bookSuccess_TopClean').gaBtn TopClean

				.picBgBox(style='background-image: url(images/demoBg3.jpg)')
					.txt.wTxt
						.f40.handTxt Smart Textile
						h2 innovation , no limit
						a.wBtn(href='product.html?page=1&rel=dynaFeed',data-ga='bookSuccess_DynaFeedSeries').gaBtn DynaFeed Series
				
		
	#footer
		.f1
		.f2

	//- .loadPicWrap(style='display:none')
	//- 	//- img(src='images/arr.png')

	
	script(type='text/javascript', src='js/index.js')
	

