doctype html
html
	
	include meta
//- head
//- 	include meta
body
	include t_header
	#ProductPage.page
		.bg(style='background-image: url("images/bg-download-brochure.jpg")')
		.mainContainer
			h1.wTxt.mainTitle
				i.fwb Download Brochure
				
			.productContainer.sustainabilityBox.active
				.productBox.fadeInBox
					.picBox(style='background-image: url("images/FENC-Filament.jpg")')
					.txtBox
						h1 FILAMENT

						p Anticipating & Innovating Sustainable Solutions For Infinite Possibilities

						a.whiteBtn(href='beforeDownloadDM.aspx?size=3828KB&interest=Filament&fn=FENC-Filament.pdf')
							i.icon_download
							i Download DM
				.productBox.fadeInBox
					.picBox(style='background-image: url("images/FENC-Spun-Yarn.jpg")')
					.txtBox
						h1 SPUN YARN

						p Inspiring Authentic, Functional, Tailored Solutions For Comfortable Living

						a.whiteBtn(href='beforeDownloadDM.aspx?size=2744KB&interest=Spun%20Yarn&fn=FENC-Spun-Yarn.pdf')
							i.icon_download
							i Download DM
				.productBox.fadeInBox
					.picBox(style='background-image: url("images/FENC-Solid-State-Polymer.jpg")')
					.txtBox
						h1 SOLID STATE POLYMER

						p Evolutionary Materials To Create A More Sustainable, Greener Future

						a.whiteBtn(href='beforeDownloadDM.aspx?size=7245KB&interest=PET%20chip&fn=FENC-Solid-State-Polymer.pdf')
							i.icon_download
							i Download DM
				.productBox.fadeInBox
					.picBox(style='background-image: url("images/FENC-Staple-Fiber.jpg")')
					.txtBox
						h1 STAPLE FIBER

						p Maximum Hygiene & Comfort For A Healthier Eco-system

						a.whiteBtn(href='beforeDownloadDM.aspx?size=3485KB&interest=STAPLE%20FIBER&fn=FENC-Staple-Fiber.pdf')
							i.icon_download
							i Download DM
				.productBox.fadeInBox
					.picBox(style='background-image: url("images/FEFC-Filament-nylon-66.jpg")')
					.txtBox
						h1 FILAMENT FENC Nylon 6,6

						p Feel Easy Feel Cool

						a.whiteBtn(href='beforeDownloadDM.aspx?size=2451KB&interest=Nylon66&fn=FEFC-Filament-nylon-66.pdf')
							i.icon_download
							i Download DM
				.productBox.fadeInBox
					.picBox(style='background-image: url("images/FENC-Garment.jpg")')
					.txtBox
						h1 GARMENT

						p Developing Integrated Solutions For Endless Possibilities

						a.whiteBtn(href='beforeDownloadDM.aspx?size=1844KB&interest=Garment&fn=FENC-Garment.pdf')
							i.icon_download
							i Download DM
				.productBox.fadeInBox
					.picBox(style='background-image: url("images/FENC-Knitting-Dyeing.jpg")')
					.txtBox
						h1 KNITTING & DYEING

						p Revolutionary Solutions For Design Optimization

						a.whiteBtn(href='beforeDownloadDM.aspx?size=4513KB&interest=Fabric&fn=FENC-Knitting-Dyeing.pdf')
							i.icon_download
							i Download DM

				
				
				

				
			//- .sideMenu.f16
			//- 	.phoneShow.mb_b.mt_b More Products in Exhibition
			//- 	.sBtn.active(data-ga='product_subMenu_Sustainability').gaBtn Sustainability
			//- 	.sBtn(data-ga='product_subMenu_Innovation').gaBtn Innovation
			//- 	.sBtn(data-ga='product_subMenu_BestSellers').gaBtn Best Sellers
			//- 	.sBtn(data-ga='product_subMenu_Classic').gaBtn Classic




	#footer
		.f1
		.f2

	//- .loadPicWrap(style='display:none')
	//- 	//- img(src='images/arr.png')

	
	script(type='text/javascript', src='js/index.js')
	//- script(type='text/javascript', src='js/productPage.js')


