doctype html
html
	
	include meta
//- head
//- 	include meta
body
	include t_header
	#exhibitionPage.formPage.page
		.bg
		.mainContainer.thinContainer
			
			h1.pageTitle.wTxt Contact Us
			.whiteBox.fadeInBox
				.f24 FEEL FREE TO 
					br
					| CONTACT WITH US
				.f20.fwb.mt_b Official Contactor
				.f18 Angus Chou
				.f18 周名澤
				.f20.fwb.mt_b Email
				a.f18(href='mailto:angus@fenc.com',data-ga='contact_mailMe').gaBtn angus@fenc.com
				
				//- .f20.fwb.mt_b Phone
				//- .f18 +886-2-2773-8000 # 1234
				
				//- .f20.fwb.mt_b Cellphone
				//- .f18 +886-930-123-456

				.whiteBtn.purpleBtn.mt_b.contactOnlineBtn(data-ga='contact_contactOnline').gaBtn
					i.icon_contact
					| Contact Us Online

			
	#footer
		.f1
		.f2

	//- .loadPicWrap(style='display:none')
	//- 	//- img(src='images/arr.png')

	
	script(type='text/javascript', src='js/index.js')
	

