doctype html
html
	title downloadDM
	include meta
//- head
//- 	include meta
body
	include t_header
	.formPage.page
		.bg
		.mainContainer.thinContainer
			h1.pageTitle.wTxt Download DM
			
			form
				.whiteBox.fadeInBox
					h2.mb_b Download DM will be start after 3 seconds, if download not start, please click the botton
					a(href='#').blackBtn DOWNLOAD DM
					h3.ta_c.mt_s (File: dynafeed_ex.pdf/2.4MB)
						
					

		
	#footer
		.f1
		.f2

	//- .loadPicWrap(style='display:none')
	//- 	//- img(src='images/arr.png')

	
	script(type='text/javascript', src='js/index.js')
	

