doctype html
html
	
	include meta
//- head
//- 	include meta
body
	include t_header
	#exhibitionPage.formPage.page
		.bg
		.mainContainer
			.twoRowContainer 
				h1.pageTitle.wTxt Exhibition Information
				.whiteBox.mr_b.fadeInBox
					.f24 Intertextile Shanghai
					.sContent 11 - 13  Oct  2017
					.ex1.mt_s
					.sTitle Exhibition Location
					.sContent National Exhibition and Convention Center
					.sContent 国家会展中心(上海)
					.sTitle Booth Location
					.sContent 
						i Hall 5.2H, 
						i.bBgTxt  Booth : E95
					.linkBox 
						a(href='http://intertextile-shanghai-apparel-fabrics-autumn.hk.messefrankfurt.com/content/dam/intertextile_shanghai_apparel_fabrics_autumn/file/en/ITSA2017%20halloverview.pdf',target='_blank',data-ga='exibition_intertextile_ExhibitionBoothMap').gaBtn Exhibition Booth Map
						a(href='http://intertextile-shanghai-apparel-fabrics-autumn.hk.messefrankfurt.com/content/dam/intertextile_shanghai_apparel_fabrics_autumn/file/en/ITSA17_210x280_web.pdf',target='_blank',data-ga='exibition_intertextile_ExhibitionDM').gaBtn Exhibition DM
						a(href='https://www.google.com.tw/maps/place/%E5%9B%BD%E5%AE%B6%E4%BC%9A%E5%B1%95%E4%B8%AD%E5%BF%83%EF%BC%88%E4%B8%8A%E6%B5%B7%EF%BC%89/@31.1927669,121.3017711,16z/data=!4m8!1m2!2m1!1z5Zu95a625Lya5bGV5Lit5b-DKOS4iua1tyk!3m4!1s0x0:0x34e72d3652924ccd!8m2!3d31.1901115!4d121.302554',target='_blank',data-ga='exibition_intertextile_GoogleMap').gaBtn See on Google Map
						a(href='http://intertextile-shanghai-apparel-fabrics-autumn.hk.messefrankfurt.com/shanghai/zh-cn/visitors/welcome.html',target='_blank',data-ga='exibition_intertextile_OfficialWebsite').gaBtn Official Website
					a(href='booking.aspx?exhibition=1').whiteBtn.purpleBtn
						i.icon_plan_w
						| Plan To Meet Us

				.whiteBox.fadeInBox
					.f24 TITAS Taipei
					.sContent 16 - 18  Oct  2017
					.ex2.mt_s
					.sTitle Exhibition Location
					.sContent Nangang Exhibition Center
					.sContent 台北南港展覽館
					.sTitle Booth Location
					.sContent 
						i Hall 1, 4F, 
						i.bBgTxt  Booth : M106
					.linkBox 
						a(href='http://www.titas.tw/2017/downloadfile/TITAS2017_map.pdf',target='_blank',data-ga='exibition_TITAS_ExhibitionBoothMap').gaBtn Exhibition Booth Map
						a(href='http://www.titas.tw/2017/cht/showinfo/download/',target='_blank',data-ga='exibition_TITAS_ExhibitionDM').gaBtn Exhibition DM
						a(href='https://www.google.com.tw/maps/place/%E5%8F%B0%E5%8C%97%E5%8D%97%E6%B8%AF%E5%B1%95%E8%A6%BD%E9%A4%A81%E9%A4%A8/@25.056602,121.6159273,17z/data=!3m1!4b1!4m5!3m4!1s0x3442ab57f02092dd:0x87862fa2121f7e46!8m2!3d25.056602!4d121.618116',target='_blank',data-ga='exibition_TITAS_GoogleMap').gaBtn See on Google Map
						a(href='http://www.titas.tw/2017/cht/',target='_blank',data-ga='exibition_TITAS_OfficialWebsite').gaBtn Official Website
					a(href='booking.aspx?exhibition=2',data-ga='exibition_PlanToMeetUs').gaBtn.whiteBtn.purpleBtn
						i.icon_plan_w
						| Plan To Meet Us
	#footer
		.f1
		.f2

	//- .loadPicWrap(style='display:none')
	//- 	//- img(src='images/arr.png')

	
	script(type='text/javascript', src='js/index.js')
	

