doctype html
html
	title exhibition
	include meta
//- head
//- 	include meta
body
	include t_header
	#exhibitionPage.formPage.page
		.bg
		.mainContainer
			.twoRowContainer 
				h1.pageTitle.wTxt Exhibition Information
				.whiteBox.mr_b.fadeInBox
					.f24 Intertextile Shanghai
					.sContent 11 - 13  Oct  2017
					.ex1.mt_s
					.sTitle Exhibition Location
					.sContent National Exhibition and Convention Center
					.sContent 国家会展中心(上海)
					.sTitle Booth Location
					.sContent 
						i Hall 5.2H, 
						i.bBgTxt  Booth : E95
					.linkBox 
						a(href='#') Exhibition Booth Map
						a(href='#') Exhibition DM
						a(href='#') See on Google Map
						a(href='#') Official Website
					a(href='#').whiteBtn.purpleBtn
						i.icon_plan_w
						| Plan To Meet Us

				.whiteBox.fadeInBox
					.f24 TITAS Taipei
					.sContent 16 - 18  Oct  2017
					.ex2.mt_s
					.sTitle Exhibition Location
					.sContent Nangang Exhibition Center
					.sContent 台北南港展覽館
					.sTitle Booth Location
					.sContent 
						i Hall 1, 4F, 
						i.bBgTxt  Booth : M106
					.linkBox 
						a(href='#') Exhibition Booth Map
						a(href='#') Exhibition DM
						a(href='#') See on Google Map
						a(href='#') Official Website
					a(href='#').whiteBtn.purpleBtn
						i.icon_plan_w
						| Plan To Meet Us
	#footer
		.f1
		.f2

	//- .loadPicWrap(style='display:none')
	//- 	//- img(src='images/arr.png')

	
	script(type='text/javascript', src='js/index.js')
	

