doctype html
html
	
	include meta
//- head
//- 	include meta
body
	include t_header
	#ProductPage.page
		.bg
		.mainContainer
			h1.wTxt.mainTitle
				i.fwb Products in Exhibition 
				i.phoneBr 
					i.fwl.categoryTxt.active / Sustainability 
					i.fwl.categoryTxt / Innovation 
					i.fwl.categoryTxt / Best Sellers
					i.fwl.categoryTxt / Classic
			.productContainer.sustainabilityBox.active
				.productBox.fadeInBox.href_oceanRecycled
					.picBox(style='background-image: url("images/fenc-Recycled-Ocean-Plastic.jpg")')

					.txtBox
						h1 FENC® Recycled Ocean Plastic
						h2 For the Oceans
						p FENC® Recycled Ocean Plastic Yarn prevents plastic waste from entering our ocean, transforming it into valuable products - from yarn, to fabric to garment. FENC’s recycling process also reduces CO2 emission up to 50% compared to PET made from petroleum.
				.productBox.fadeInBox
					.picBox(style='background-image: url("images/fenc-TopGreen-Recycled-Filament.jpg")')

					.txtBox
						h1 TopGreen® Recycled Filament
						//- h2 
						p 100% Post-Consumer Recycled (PCR) PET Filament 

						a.whiteBtn(href='beforeDownloadDM.aspx?size=496KB&interest=Filament&fn=fenc-TopGreen-Recycled-Filament.pdf',data-ga='productDM_fenc-TopGreen-Recycled-Filament').gaBtn
							i.icon_download
							i Download DM
				.productBox.fadeInBox
					.picBox(style='background-image: url("images/fenc-Water-Free-Dyeing.jpg")')

					.txtBox
						h1 FENC Water Free Dyeing
						h2 Supercritical dyeing technology
						p Waterless and organic solvent - free
						p 100 – 150 liters of water are needed to dye and finish 1 kg of fabric. FENC pioneered using supercritical CO2 for the dyeing process thus eliminating water use and discharge of dye stuff chemicals during dyeing process.


						a.whiteBtn(href='beforeDownloadDM.aspx?size=655KB&interest=Fabric&fn=fenc-Water-Free-Dyeing.pdf',data-ga='productDM_fenc-Water-Free-Dyeing').gaBtn
							i.icon_download
							i Download DM
				.productBox.fadeInBox
					.picBox(style='background-image: url("images/fenc-TopGreen-EZ-Dye.jpg")')

					.txtBox
						h1 TopGreen® EZ Dye
						//- h2 
						p Low temperature cationic dyeable filament
						a.whiteBtn(href='beforeDownloadDM.aspx?size=896KB&interest=Filament&fn=fenc-TopGreen-EZ-Dye.pdf',data-ga='productDM_fenc-TopGreen-EZ-Dye').gaBtn
							i.icon_download
							i Download DM
				.productBox.fadeInBox
					.picBox(style='background-image: url("images/fenc-TopGreen-Dope-Dye.jpg")')

					.txtBox
						h1 TopGreen® Dope Dye
						//- h2 
						p Dope dye filament
						a.whiteBtn(href='beforeDownloadDM.aspx?size=555KB&interest=Filament&fn=fenc-TopGreen-Dope-Dye.pdf',data-ga='productDM_fenc-TopGreen-Dope-Dye').gaBtn
							i.icon_download
							i Download DM
				.productBox.fadeInBox
					.picBox(style='background-image: url("images/fenc-TopGreen-Sb-free.jpg")')

					.txtBox
						h1 TopGreen® Sb-free
						//- h2 
						p Antimony-free filament
						a.whiteBtn(href='beforeDownloadDM.aspx?size=397KB&interest=Filament&fn=fenc-TopGreen-Sb-free.pdf',data-ga='productDM_fenc-TopGreen-Sb-free').gaBtn
							i.icon_download
							i Download DM
				.productBox.fadeInBox
					.picBox(style='background-image: url("images/fenc-TopGreen-Coating-Lamination.jpg")')

					.txtBox
						h1 TopGreen® Coating & Lamination
						//- h2 
						p Water Free & Solvent Free Coating Lamination

						a.whiteBtn(href='beforeDownloadDM.aspx?size=646KB&interest=Fabric&fn=fenc-TopGreen-Coating-Lamination.pdf',data-ga='productDM_fenc-TopGreen-Coating-Lamination').gaBtn
							i.icon_download
							i Download DM
				.productBox.fadeInBox
					.picBox(style='background-image: url("images/fenc-TopGreen-BioPET-Filament.jpg")')

					.txtBox
						h1 TopGreen® Bio-PET Filament
						//- h2 
						p 30% of PET content is made from non-food plants and agriculture waste.

						a.whiteBtn(href='beforeDownloadDM.aspx?size=631KB&interest=Filament&fn=fenc-TopGreen-BioPET-Filament.pdf',data-ga='productDM_fenc-TopGreen-BioPET-Filament').gaBtn
							i.icon_download
							i Download DM
				.productBox.fadeInBox
					.picBox(style='background-image: url("images/FEFC-Solution-Dye-N66.jpg")')

					.txtBox
						h1 FEFC Solution Dye N6,6
						//- h2 
						p Solution dye N6,6

						a.whiteBtn(href='beforeDownloadDM.aspx?size=859KB&interest=Nylon66&fn=FEFC-Solution-Dye-N66.pdf',data-ga='productDM_FEFC-Solution-Dye-N66').gaBtn
							i.icon_download
							i Download DM
				.productBox.fadeInBox
					.picBox(style='background-image: url("images/fenc-topgreen-Membrane.jpg")')

					.txtBox
						h1 TopGreen® Membrane
						p Post-consumer recycled waterproof breathable polyester membrane
						a.whiteBtn(href='beforeDownloadDM.aspx?size=562KB&interest=Filament&fn=fenc-topgreen-Membrane.pdf',data-ga='productDM_fenc-topgreen-Membrane').gaBtn
							i.icon_download
							i Download DM
				.productBox.fadeInBox
					.picBox(style='background-image: url("images/fenc-TopGreen-Recycled-PET.jpg")')

					.txtBox
						h1 TopGreen® Recycled PET

						p 100% Post-Consumer Recycled (PCR) PET resin


						a.whiteBtn(href='beforeDownloadDM.aspx?size=447KB&interest=PET%20Chip&fn=fenc-TopGreen-Recycled-PET.pdf',data-ga='productDM_TopGreen-Recycled-PET').gaBtn
							i.icon_download
							i Download DM
				.productBox.fadeInBox
					.picBox(style='background-image: url("images/fenc-TopGreen-BioPET.jpg")')

					.txtBox
						h1 TopGreen® Bio-PET

						p 30% of PET content is made from non-food plants and agriculture waste.


						a.whiteBtn(href='beforeDownloadDM.aspx?size=566KB&interest=PET%20Chip&fn=fenc-TopGreen-BioPET.pdf',data-ga='productDM_fenc-TopGreen-BioPET').gaBtn
							i.icon_download
							i Download DM
				
				

			.productContainer.innovationBox
				.productBox.fadeInBox.href-topDryZero
					.picBox(style='background-image: url("images/fenc-TopDry-Zero.jpg")')
					.txtBox
						h1 TopDry® Zero
						h2 World’s first PFC-free DWR Polyester
						p FENC® TopDry® Zero is a green chemistry modified polyester that is permanently water repellent, fully eliminating the concerns of perflourinated chemicals 

						a.whiteBtn(href='beforeDownloadDM.aspx?size=448KB&interest=Filament&fn=fenc-TopDry-Zero.pdf',data-ga='productDM_fenc-TopDry-Zero').gaBtn
							i.icon_download
							i Download DM
				.productBox.fadeInBox.href_topClean
					.picBox(style='background-image: url("images/fenc-topclean.jpg")')
					.txtBox
						h1 TopClean®
						h2 World’s first PFC-free Soil Release Polyester
						p FENC® TopClean®  Innately eases the removal of soil & stains when soaked in water and provides soft & breathable comfort at the same time. 

						a.whiteBtn(href='beforeDownloadDM.aspx?fn=FENC_Topclean.pdf&size=913KB&interest=Fabric',data-ga='productDM_TopClean').gaBtn
							i.icon_download
							i Download DM
				.productBox.fadeInBox.href_dynaFeed
					.picBox(style='background-image: url("images/fenc-dynafeed.jpg")')
					.txtBox
						h1 FENC DynaFeed® 
						h2 ‘Smarter-er’ Solution for a Smarter World
						p FENC® DynaFeed® is a revolutionary smart garment system that seamlessly connects the textile and digital worlds. DynaFeed® empowers users by providing precise interface between the body’s physiology and digital applications in health care, sports and rehabilitation. 

						a.whiteBtn(href='beforeDownloadDM.aspx?size=736KB&interest=Garment&fn=fenc-dynafeed.pdf',data-ga='productDM_fenc-dynafeed').gaBtn
							i.icon_download
							i Download DM
				.productBox.fadeInBox
					.picBox(style='background-image: url("images/fenc-topcool.jpg")')
					.txtBox
						h1 TopCool®
						//- h2
						p Cross-sectional yarn with moisture management performance
						a.whiteBtn(href='beforeDownloadDM.aspx?size=496KB&interest=Filament&fn=fenc-topcool.pdf',data-ga='productDM_fenc-topcool').gaBtn
							i.icon_download
							i Download DM
				.productBox.fadeInBox
					.picBox(style='background-image: url("images/fenc-Solarfree.jpg")')
					.txtBox
						h1 SolarfreeRED®
						//- h2
						p Anti-near infrared and UV rays filament
						a.whiteBtn(href='beforeDownloadDM.aspx?size=297KB&interest=Filament&fn=fenc-Solarfree.pdf',data-ga='productDM_fenc-Solarfree').gaBtn
							i.icon_download
							i Download DM
				.productBox.fadeInBox
					.picBox(style='background-image: url("images/fenc-PFC-free-DWR-N66.jpg")')
					.txtBox
						h1 PFC-free DWR N6,6
						//- h2
						p 100% PFC-free DWR N6,6
						a.whiteBtn(href='beforeDownloadDM.aspx?size=690KB&interest=Nylon66&fn=fenc-PFC-free-DWR-N66.pdf',data-ga='productDM_fenc-PFC-free-DWR-N66').gaBtn
							i.icon_download
							i Download DM
				.productBox.fadeInBox
					.picBox(style='background-image: url("images/fenc-design-yarn.jpg")')
					.txtBox
						h1 Design Yarn
						//- h2
						p Low temperature cationic dyeable filament
						a.whiteBtn(href='beforeDownloadDM.aspx?size=564KB&interest=Spun%20Yarn&fn=fenc-design-yarn.pdf',data-ga='productDM_fenc-design-yarn').gaBtn
							i.icon_download
							i Download DM
				.productBox.fadeInBox
					.picBox(style='background-image: url("images/fenc-Microfiber.jpg")')
					.txtBox
						h1 Microfiber
						//- h2
						p Sea-island & splittable staple fiber 
						a.whiteBtn(href='beforeDownloadDM.aspx?size=246KB&interest=Staple%20Fiber&fn=fenc-Microfiber.pdf',data-ga='productDM_fenc-Microfiber').gaBtn
							i.icon_download
							i Download DM
				.productBox.fadeInBox
					.picBox(style='background-image: url("images/fenc-Wind-Guard-Base.jpg")')
					.txtBox
						h1 Wind Guard Base
						//- h2
						p Windproof and moisture uptake coating 
						//- a.whiteBtn(href='beforeDownloadDM.aspx?size=3828KB&interest=Filament&fn=FENC-Filament.pdf',data-ga='productDM_').gaBtn
						//- 	i.icon_download
						//- 	i Download DM
				.productBox.fadeInBox
					.picBox(style='background-image: url("images/fenc-Wind-Guard-3D.jpg")')
					.txtBox
						h1 Wind Guard 3D
						//- h2
						p Windproof coating with 3D designable pattern
						//- a.whiteBtn(href='beforeDownloadDM.aspx?size=3828KB&interest=Filament&fn=FENC-Filament.pdf',data-ga='productDM_').gaBtn
						//- 	i.icon_download
						//- 	i Download DM
				

			.productContainer.bestSellersBox
				.productBox.fadeInBox
					.picBox(style='background-image: url("images/Cottony-UV-cut-N66.jpg")')
					.txtBox
						h1 Cottony UV-cut N6,6
						//- h2
						p UPF50+ N6,6 yarn

						a.whiteBtn(href='beforeDownloadDM.aspx?size=610KB&interest=Nylon66&fn=Cottony-UV-cut-N66.pdf',data-ga='productDM_Cottony-UV-cut-N66').gaBtn
							i.icon_download
							i Download DM
				.productBox.fadeInBox
					.picBox(style='background-image: url("images/fenc-eagelon.jpg")')
					.txtBox
						h1 Eagelon®

						//- h2
						p Anti-bacterial filament

						a.whiteBtn(href='beforeDownloadDM.aspx?size=439KB&interest=Filament&fn=fenc-eagelon.pdf',data-ga='productDM_fenc-eagelon').gaBtn
							i.icon_download
							i Download DM
				.productBox.fadeInBox
					.picBox(style='background-image: url("images/fenc-siro-yarn.jpg")')
					.txtBox
						h1 Siro Yarn

						//- h2
						p Cottony spun yarn that allows for multi-fiber blends and heather effect

						a.whiteBtn(href='beforeDownloadDM.aspx?size=265KB&interest=Spun%20Yarn&fn=fenc-siro-yarn.pdf',data-ga='productDM_fenc-siro-yarn').gaBtn
							i.icon_download
							i Download DM
				.productBox.fadeInBox
					.picBox(style='background-image: url("images/3D-Reflective-Print.jpg")')
					.txtBox
						h1 3D Reflective Print

						//- h2
						p Enhances visibility in the dark

						//- a.whiteBtn(href='beforeDownloadDM.aspx?size=3828KB&interest=Filament&fn=FENC-Filament.pdf',data-ga='productDM_').gaBtn
						//- 	i.icon_download
						//- 	i Download DM
				.productBox.fadeInBox
					.picBox(style='background-image: url("images/fenc-hycare.jpg")')
					.txtBox
						h1 Hycare

						//- h2
						p Staple fiber that provides highest level of hygiene and comfort

						a.whiteBtn(href='beforeDownloadDM.aspx?size=360KB&interest=Staple%20Fiber&fn=fenc-hycare.pdf',data-ga='productDM_fenc-hycare').gaBtn
							i.icon_download
							i Download DM
				
			.productContainer.classicBox
				.productBox.fadeInBox
					.picBox(style='background-image: url("images/fenc-Low-Pilling-Spun-Yarn.jpg")')
					.txtBox
						h1 Low Pilling Spun Yarn

						//- h2
						p Offers high function and fashion applicability

						a.whiteBtn(href='beforeDownloadDM.aspx?size=701KB&interest=Spun%20Yarn&fn=fenc-Low-Pilling-Spun-Yarn.pdf',data-ga='productDM_fenc-Low-Pilling-Spun-Yarn').gaBtn
							i.icon_download
							i Download DM
				.productBox.fadeInBox
					.picBox(style='background-image: url("images/fenc-Spun-Sheath-Core.jpg")')
					.txtBox
						h1 Spun Sheath & Core

						//- h2
						p For maximum stretch & durable strength

						//- a.whiteBtn(href='beforeDownloadDM.aspx?size=3828KB&interest=Filament&fn=FENC-Filament.pdf',data-ga='productDM_').gaBtn
						//- 	i.icon_download
						//- 	i Download DM
				.productBox.fadeInBox
					.picBox(style='background-image: url("images/fenc-airlof.jpg")')
					.txtBox
						h1 Airloft

						//- h2
						p Superior dispersion short cut fibers for air-laid process

						a.whiteBtn(href='beforeDownloadDM.aspx?size=199KB&interest=Staple%20Fiber&fn=fenc-airlof.pdf',data-ga='productDM_fenc-airlof').gaBtn
							i.icon_download
							i Download DM
				.productBox.fadeInBox
					.picBox(style='background-image: url("images/fenc-Bomax.jpg")')
					.txtBox
						h1 Bomax

						//- h2
						p Bicomponent low melt sheath and polyester core staple fiber

						a.whiteBtn(href='beforeDownloadDM.aspx?size=161KB&interest=Staple%20Fiber&fn=fenc-Bomax.pdf',data-ga='productDM_fenc-Bomax').gaBtn
							i.icon_download
							i Download DM
				
				
			.sideMenu.f16
				.phoneShow.mb_b.mt_b More Products in Exhibition
				.sBtn.active(data-ga='product_subMenu_Sustainability').gaBtn Sustainability
				.sBtn(data-ga='product_subMenu_Innovation').gaBtn Innovation
				.sBtn(data-ga='product_subMenu_BestSellers').gaBtn Best Sellers
				.sBtn(data-ga='product_subMenu_Classic').gaBtn Classic




	#footer
		.f1
		.f2

	//- .loadPicWrap(style='display:none')
	//- 	//- img(src='images/arr.png')

	
	script(type='text/javascript', src='js/index.js')
	script(type='text/javascript', src='js/productPage.js')


