doctype html
html
	title exhibition
	include meta
//- head
//- 	include meta
body
	include t_header
	#ProductPage.page
		.bg
		.mainContainer
			h1.wTxt.mainTitle
				i.fwb Products in Exhibition 
				i.phoneBr
					i.fwl.categoryTxt.active / Sustainability 
					i.fwl.categoryTxt / Innovation 
					i.fwl.categoryTxt / Best Sellers
					i.fwl.categoryTxt / Classic
			.productContainer.sustainabilityBox.active
				.productBox.fadeInBox
					.picBox(style='background-image: url("images/pro1.jpg")')

					.txtBox
						h1 Dynafeed
						h2 Smart Garment for the Future
						p We don't believe things have to stay the way they are and that's why at FENC, we constantly challenge the status quo. We, as a company have to evolve. It's how we innovate how we meet the needs of our customers and partners. At the same time, we remind ourselves to be focused, consistent & integrated.
				.productBox.fadeInBox
					.picBox(style='background-image: url("images/pro2.jpg")')

					.txtBox
						h1 TopCool
						h2 Dry & Cool Better Solution
						p We don't believe things have to stay the way they are and that's why at FENC, we constantly challenge the status quo. We, as a company have to evolve. It's how we innovate how we meet the needs of our customers and partners. At the same time, we remind ourselves to be focused, consistent & integrated.
						p We don't believe things have to stay the way they are and that's why at FENC, we constantly challenge the status quo. We, as a company have to evolve. It's how we innovate how we meet the needs of our customers and partners. At the same time, we remind ourselves to be focused, consistent & integrated.We don't believe things have to stay the way they are and that's why at FENC, we constantly challenge the status quo. 
						a.whiteBtn(href='#')
							i.icon_download
							i Download DM
			.productContainer.innovationBox
				.productBox.fadeInBox
					.picBox(style='background-image: url("images/pro1.jpg")')

					.txtBox
						h1 Dynafeed
						h2 Smart Garment for the Future
						p We don't believe things have to stay the way they are and that's why at FENC, we constantly challenge the status quo. We, as a company have to evolve. It's how we innovate how we meet the needs of our customers and partners. At the same time, we remind ourselves to be focused, consistent & integrated.
				.productBox.fadeInBox
					.picBox(style='background-image: url("images/pro2.jpg")')

					.txtBox
						h1 TopCool
						h2 Dry & Cool Better Solution
						p We don't believe things have to stay the way they are and that's why at FENC, we constantly challenge the status quo. We, as a company have to evolve. It's how we innovate how we meet the needs of our customers and partners. At the same time, we remind ourselves to be focused, consistent & integrated.
						p We don't believe things have to stay the way they are and that's why at FENC, we constantly challenge the status quo. We, as a company have to evolve. It's how we innovate how we meet the needs of our customers and partners. At the same time, we remind ourselves to be focused, consistent & integrated.We don't believe things have to stay the way they are and that's why at FENC, we constantly challenge the status quo. 
						a.whiteBtn(href='#')
							i.icon_download
							i Download DM
			.productContainer.bestSellersBox
				.productBox.fadeInBox
					.picBox(style='background-image: url("images/pro1.jpg")')

					.txtBox
						h1 Dynafeed
						h2 Smart Garment for the Future
						p We don't believe things have to stay the way they are and that's why at FENC, we constantly challenge the status quo. We, as a company have to evolve. It's how we innovate how we meet the needs of our customers and partners. At the same time, we remind ourselves to be focused, consistent & integrated.
				.productBox.fadeInBox
					.picBox(style='background-image: url("images/pro2.jpg")')

					.txtBox
						h1 TopCool
						h2 Dry & Cool Better Solution
						p We don't believe things have to stay the way they are and that's why at FENC, we constantly challenge the status quo. We, as a company have to evolve. It's how we innovate how we meet the needs of our customers and partners. At the same time, we remind ourselves to be focused, consistent & integrated.
						p We don't believe things have to stay the way they are and that's why at FENC, we constantly challenge the status quo. We, as a company have to evolve. It's how we innovate how we meet the needs of our customers and partners. At the same time, we remind ourselves to be focused, consistent & integrated.We don't believe things have to stay the way they are and that's why at FENC, we constantly challenge the status quo. 
						a.whiteBtn(href='#')
							i.icon_download
							i Download DM
			.productContainer.classicBox
				.productBox.fadeInBox
					.picBox(style='background-image: url("images/pro1.jpg")')

					.txtBox
						h1 Dynafeed
						h2 Smart Garment for the Future
						p We don't believe things have to stay the way they are and that's why at FENC, we constantly challenge the status quo. We, as a company have to evolve. It's how we innovate how we meet the needs of our customers and partners. At the same time, we remind ourselves to be focused, consistent & integrated.
				.productBox.fadeInBox
					.picBox(style='background-image: url("images/pro2.jpg")')

					.txtBox
						h1 TopCool
						h2 Dry & Cool Better Solution
						p We don't believe things have to stay the way they are and that's why at FENC, we constantly challenge the status quo. We, as a company have to evolve. It's how we innovate how we meet the needs of our customers and partners. At the same time, we remind ourselves to be focused, consistent & integrated.
						p We don't believe things have to stay the way they are and that's why at FENC, we constantly challenge the status quo. We, as a company have to evolve. It's how we innovate how we meet the needs of our customers and partners. At the same time, we remind ourselves to be focused, consistent & integrated.We don't believe things have to stay the way they are and that's why at FENC, we constantly challenge the status quo. 
						a.whiteBtn(href='#')
							i.icon_download
							i Download DM
			.sideMenu.f16
				.phoneShow.mb_b.mt_b More Products in Exhibition
				.sBtn.active Sustainability
				.sBtn Innovation
				.sBtn Best Sellers
				.sBtn Classic




	#footer
		.f1
		.f2

	//- .loadPicWrap(style='display:none')
	//- 	//- img(src='images/arr.png')

	
	script(type='text/javascript', src='js/index.js')
	script(type='text/javascript', src='js/productPage.js')


