

#header 
	.menuBtn 
	.menuPop.hide
		.clozBtn
		.menuContainer 
			a(href='index.html').mBtn
				.txt Home
			a(href='exhibition.html').mBtn
				.txt Exhibition Information
			a(href='booking.html').mBtn
				.txt Plan to Visit
			a(href='javascript:void(0)',data-videoId='NoqFj8AAH9Q').mBtn.videoBtn
				.txt Exhibition Video
			.mBtn
				a(href='product.html').txt Products at Exhibition
				.subMenu
					a(href='product.html?page=0').mBtn
						.txt Sustainability Products
					a(href='product.html?page=1').mBtn
						.txt Innovation Products
					a(href='product.html?page=2').mBtn
						.txt Best Sellers Products
					a(href='product.html?page=3').mBtn
						.txt Classic Products
			a(href='beforeDownloadDM.html').mBtn
				.txt Download Exhibition DM
			a(href='contact.html').mBtn
				.txt Contact Us
.videoPop.popPage.hide
	.videoBox
		.clozBtn.popClozBtn
		.container
